.container{
    display: flex;
    flex-direction: row;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    font-size: 20px;
}
ul {
    list-style: none;
}
#character-list{
    background-color: rgb(2, 3, 8);
    padding: 20px;
    width: 150px;
    color: white;
    border-radius: 5px;
}
.character-details{
    padding: 10px;
    position: fixed;
    top: auto;
    margin-left: 500px;
}

li:hover {
    background-color: #f0f0f0; 
    color: black;
    cursor: pointer;
}


li.selected {
    background-color: white;
    color: rgb(14, 12, 12);
}