body{
    font-family: Arial, sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
}
ul {
    list-style: none;
}
#character-list{
    align-items: center;
    border: 1px solid black;
    font-size: 24px;
    background-color: lightgrey;
    
}
.character-details{
    padding: 10px;
    position: fixed;
    top: auto;
    margin-left: 500px;
}

li:hover {
    background-color: #f0f0f0; 
    cursor: pointer;
}


li.selected {
    background-color: #0073e6; 
}

