body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.character-list {
    background-color: #808080; /* Сірий фон для списку персонажів */
    display: flex;
    flex-direction: column; /* Змінено на стовпчик */
    align-items: center;
    padding: 10px;
}

.character {
    margin: 5px;
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.character-info {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

p {
    color: #777;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
