* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
}


#menu {
    width: 30%;
    padding: 10px;
    background-color: #38424D;
    overflow-y: auto;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
}

#character-details {
    width: 85%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #ccc;
}

.character-item {
    cursor: pointer;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.2s;
}

.character-item:hover {
    background-color: #f0f0f0;
}

.character-name {
    text-align: center;
    margin-left: 200px;
    color: #575757;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.character-details {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    color: #575757;
    margin: 100px 0 0 20px;
    max-width: 900px;
}

.character-details-label {
    font-weight: bold;
}