* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
#characters{
    width: 300px;
    /* margin: 0 auto; */
    text-align: center;
}
#loadDataBtn{
    padding: 10px 20px;
    background: rgb(63, 63, 187);
    font-size: 24px;
    color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 10%;
    top: 40%;
}
.tooltip{
    position: fixed;
    left: 286px;
    top: 288px;
    display: block;
    /* border: 1px solid #ddd; */
    color: black;
    padding: 20px;
    padding-left: 200px;
}
.tooltip > div{
    text-align: start;
    margin-bottom: 20px;
    font-size: 20px;
}
.list-item {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    background: #12133b;
    color: #ffff;
    padding: 10px 20px;
}
.list-item:hover{
    background: #ffffff;
    color: black;
}
.list-item:hover  .tooltip{
    display: block;
}
.list-item .name {
    margin-right: 10px;
}
.list-item .gender {
    color: #555;
    align-self: flex-start;
}
.name_character{
    position: fixed;
    top: 50px;
    right: 50px;
    font-size: 35px;
    color: black;
}